<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    <link href="/resources/vendors/javascripts/cep.js">

</head>
<body>
<!-- Adicionando Javascript -->
<script type="text/javascript" >

    $(document).ready(function() {

        $('#dataNascimento').datepicker({
            showOthermonths:true,
            format: 'yyyy-mm-dd'
        });


        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#rua").val("");
            $("#bairro").val("");
            $("#cidade").val("");
            $("#uf").val("");
            $("#ibge").val("");
        }

        //Quando o campo cep perde o foco.
        $("#cep").blur(function() {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if(validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#rua").val("...");
                    $("#bairro").val("...");
                    $("#cidade").val("...");
                    $("#uf").val("...");
                    $("#ibge").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#rua").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                            $("#ibge").val(dados.ibge);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });

</script>

<div id="cadastroEndereco">

    <form method="post" th:action="@{/addEnderecoPessoa/{pessoaid}(pessoaid=${Objendereco.pessoa.id})}" th:object="${Objendereco}">
        <p th:text="${pessoaid}"></p>
        <p th:text="${Objendereco.pessoa.id}"></p>
        <input name="id"  th:field="*{id}" readonly="readonly">
        <label>Cep:
            <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" th:field="*{cep}"/></label><br />
        <label>Tipo:
            <input name="tipo" type="text" id="tipo" size="60" th:field="*{tipo}"/></label><br />
        <label>Rua:
            <input name="rua" type="text" id="rua" size="60" th:field="*{rua}"/></label><br />
        <label>Numero:
            <input name="numero" type="text" id="numero" size="40" th:field="*{numero}" /></label><br />
        <label>Complemento:
            <input name="complemento" type="text" id="complemento" size="40" th:field="*{complemento}"/></label><br />
        <label>Bairro:
            <input name="bairro" type="text" id="bairro" size="40" th:field="*{bairro}"/></label><br />
        <label>Cidade:
            <input name="cidade" type="text" id="cidade" size="40" th:field="*{cidade}"/></label><br />
        <label>Estado:
            <input name="uf" type="text" id="uf" size="2" th:field="*{uf}"/></label><br />
        <label>Pais:
            <input name="pais" type="text" id="pais" size="2" th:field="*{pais}"/></label><br />
        <label>IBGE:
            <input name="ibge" type="text" id="ibge" size="8" th:field="*{ibge}"/></label><br />
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>
</div>

</body>



</html>