<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/resources/vendors/stylesheets/style.css" rel="stylesheet">


    <title>Home Page</title>
  </head>
  <body>

       <!--Menu-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand hover" href="#" onclick="openNav()">Cadastro</a>
              </div>
            </div>
          </nav>
    </div><!--Fim Menu-->

      <!--SideBar-->
      <div>
          <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div>
                  <button class="dropdown-btn">Cliente
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="/cadastropessoa">Cadastrar</a>
                    <a href="/listapessoas">Listar</a>
                  </div>
              </div>
              <div>
                <button class="dropdown-btn">Produto
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a href="/cadastrarproduto">Cadastrar</a>
                  <a href="/listarproduto">Listar</a>
                </div>
            </div>



          </div>
            
            <!-- Use any element to open the sidenav -->
            <span onclick="openNav()"></span>
            
            <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
          <div id="main">

          </div>
      </div><!--Fim SideBar-->








<!--    <div>-->
<!--        <br/>-->
<!--        <div th:each="m : ${msg}">-->
<!--            <span th:text="${m}"></span>-->
<!--        </div>-->
<!--        <br/>-->
<!--        <h4>Cadastro Usuario</h4>-->
<!--        <form action="salvarusuario" METHOD="post" th:object="${usuario}">-->
<!--        <label>Usuario</label>-->
<!--            <input name="login" type="text" id="login" th:field="*{login}">-->
<!--            <label>Senha</label>-->
<!--            <input name="senha" type="password" id="senha" th:field="*{senha}">-->
<!--            <input type="submit" value="Salvar">-->
<!--        </form>-->
<!--    </div>-->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



    <script src="/resources/vendors/javascripts/sidenav.js"></script>

  </body>
</html>